---
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import AboutList from "../components/AboutList.astro";
import AboutText from "../components/AboutText.astro";
import TestimonialList from "../components/TestimonialList.astro";
import ClientList from "../components/ClientList.astro";
import ExperienceList from "../components/ExperienceList.astro";
import SkillList from "../components/SkillList.astro";
import ProjectList from "../components/ProjectList.astro";
import BlogList from "../components/BlogList.astro";
import FilterItem from "../components/FilterItem.astro";
import SelectItem from "../components/SelectItem.astro";
``;
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
import SkillLayout from "../layouts/SkillLayout.astro";
import TimelineLayout from "../layouts/TimelineLayout.astro";
---

<BaseLayout title="Web Portfolio | Angga Widiarta">
  <!--
    - #MAIN
  -->

  <main>
    <!--
      - #SIDEBAR
    -->

    <Sidebar name="Angga Widiarta" title="Web Enthusiast | Data Scientist" />

    <!--
      - #main-content
    -->

    <div class="main-content">
      <!--
        - #NAVBAR
      -->

      <nav class="navbar">
        <ul class="navbar-list">
          <Navbar about="About" className="navbar-link active" />
          <Navbar about="Resume" className="navbar-link " />
          <Navbar about="Portfolio" className="navbar-link " />
          <Navbar about="Blog" className="navbar-link " />

          <!-- <Navbar about="Contact" className="navbar-link " /> -->
        </ul>
      </nav>

      <!--
        - #ABOUT
      -->

      <article class="about active" data-page="about">
        <AboutText
          title="About Me"
          paragraph_1="Im Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media. I enjoy turning complex problems into simple, beautiful and intuitive designs."
          paragraph_2="My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way. I created web design for many famous brand companies."
        />

        <!--
          - service
        -->

        <section class="service">
          <h3 class="h3 service-title font-bold">What i'm doing</h3>

          <ul class="service-list">
            <AboutList
              imgSrc="test"
              imgAlt="Web Img"
              serviceTitle="Data Science"
              serviceDesc="I make high-quality photos of any category a professional level."
            />
            <AboutList
              imgSrc="test"
              imgAlt="Web Img"
              serviceTitle="Web Development"
              serviceDesc="I make high-quality photos of any category a professional level."
            />
          </ul>
        </section>

        <!--
          - testimonials
        -->

        <section class="testimonials">
          <h3 class="h3 testimonials-title" style="color: blue;">Testimonials</h3>

          <ul class="testimonials-list has-scrollbar">
            <TestimonialList
              imgSrc="src/images/avatar-2.png"
              imgAlt=""
              name="David Beckham"
              desc="Good Man Good asdasdaikjjsdksd"
              time="18 April 2023"
            />
            <TestimonialList
              imgSrc=""
              imgAlt=""
              name="David Beckham"
              desc="Good Man Good asdasdaikjjsdksd"
            />
            <TestimonialList
              imgSrc=""
              imgAlt=""
              name="David Beckham"
              desc="Good Man Good asdasdaikjjsdksd"
            />
            <TestimonialList
              imgSrc=""
              imgAlt=""
              name="David Beckham"
              desc="Good Man Good asdasdaikjjsdksd"
            />
          </ul>
        </section>

        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>
          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img
                  src="./assets/images/avatar-1.png"
                  alt="Daniel lewis"
                  width="80"
                  data-modal-img
                />
              </figure>

              <img src="./assets/images/icon-quote.svg" alt="quote icon" />
            </div>

            <div class="modal-content">
              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time data-modal-datetime>14 June, 2023</time>

              <div data-modal-text>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                  distinctio doloremque porro autem. Cum, omnis repellendus ab
                  aspernatur eius error.
                </p>
              </div>
            </div>
          </section>
        </div>

        <!--
          - clients
        -->

        <section class="clients">
          <h3 class="h3 clients-title">Clients</h3>

          <ul class="clients-list has-scrollbar">
            <ClientList
              href="#"
              imgSrc="src/images/logo-2-color.png"
              imgAlt=""
            />
            <ClientList
              href="#"
              imgSrc="src/images/logo-3-color.png"
              imgAlt=""
            />
            <ClientList
              href="#"
              imgSrc="src/images/logo-4-color.png"
              imgAlt=""
            />
          </ul>
        </section>
      </article>

      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume">
        <header>
          <h2 class="h2 article-title font-bold">Resume</h2>
        </header>

        <!-- Education Resume -->
        <TimelineLayout title="Education" iconName="">
          <ExperienceList
            name="Bachelor Of Computer Science"
            timeline="2018 - 2023"
            desc="University Of Mataram"
          />
          <ExperienceList
            name="Science Major"
            timeline="2015 - 2018"
            desc="Senior High School 6 Mataram"
          />
        </TimelineLayout>

        <!-- Experience Resume -->
        <TimelineLayout title="Experience" iconName="">
          <ExperienceList
            name="Assistant Lecturer"
            timeline="2019 - 2020"
            desc="Being An Assistant Lecturer"
          />
          <ExperienceList
            name="Assistant Lecturer"
            timeline="2019 - 2020"
            desc="Being An Assistant Lecturer"
          />
        </TimelineLayout>

        <!-- Skill Resume -->
        <SkillLayout>
          <SkillList title="Data Analysis" percentage="85" />
          <SkillList title="Web Developer" percentage="96" />
          <SkillList title="Video Editor" percentage="82" />
          <SkillList title="Content Creator" percentage="88" />
        </SkillLayout>
      </article>

      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">
        <header>
          <h2 class="h2 article-title font-bold">Portfolio</h2>
        </header>

        <section class="projects">
          <ul class="filter-list">
            <FilterItem title="All" active="active" />
            <FilterItem title="Applications" />
            <FilterItem title="Web Development" />
            <FilterItem title="Data Science" />
            <FilterItem title="Others" />
          </ul>

          <div class="filter-select-box">
            <button class="filter-select" data-select>
              <div class="select-value" data-select-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>
            </button>
            <ul class="select-list">
              <SelectItem title="all" />
              <SelectItem title="Applications" />
              <SelectItem title="Web Development" />
              <SelectItem title="Data Science" />
              <SelectItem title="Others" />
            </ul>
          </div>

          <!-- Project List -->

          <ul class="project-list">
            <ProjectList
              projectName="Sentiment Analysis Using XGBoost Method"
              projectCategory="Data Science"
              imgSrc="public/images/project-2.png"
              imgAlt="Analysis Of Community Sentiment On The Policy Of Implementation Of PPKM On Twitter Social Media Using Xgboost Method"
            />

            <ProjectList
              projectName="Mataram Immigration Office Inventory System"
              projectCategory="Web Development"
              imgSrc="public/images/project-imigrasi.svg"
              imgAlt="Mataram Immigration Office Inventory System"
            />
            <ProjectList
              projectName="Dotaku Mobile Apps"
              projectCategory="Applications"
              imgSrc="src/images/project-2.png"
              imgAlt="Dotaku Mobile Apps"
            />
            <ProjectList
              projectName="Ticketing Mobile Apps"
              projectCategory="Applications"
              imgSrc="src/images/project-2.png"
              imgAlt="Ticketing Mobile Apps"
            />
            <ProjectList
              projectName="KKN Final Project Video"
              projectCategory="Others"
              imgSrc="public/images/project-tetebatu.png"
              imgAlt="KKN Final Project Video"
              href="https://www.youtube.com/watch?v=Nz46U6bSxWM"
            />
            <ProjectList
              projectName="Fish Market: Regression"
              projectCategory="Data Science"
              imgSrc="src/images/project-tetebatu.png"
              imgAlt="Fish Market: Regression"
            />
          </ul>
        </section>
      </article>

      <!--
        - #BLOG
      -->

      <BlogLayout title="Blog">
        <BlogList
          href="#"
          imgSrc="src/images/blog-2.jpg"
          imgAlt="AstroJS"
          category="Tech Stack"
          date="11, December 2023"
          title="AstroJS: Why This Lightweight Framework is Perfect for Your Project!"
          desc="AstroJS is a powerful tool that helps us create websites swiftly and efficiently, much like using the right tools to construct a house."
        />
        <BlogList
          href="#"
          imgSrc="src/images/blog-2.jpg"
          imgAlt="scam"
          category="Scam"
          date="18, April 2023"
          title="How To Fight Against Scammer"
          desc="lorem upsumasdmams asd"
        />
      </BlogLayout>
    </div>
  </main>
</BaseLayout>
