---
const { imgSrc, imgAlt, serviceTitle, serviceDesc } = Astro.props;
---

<li class="service-item">
  <div class="service-icon-box">
    <img src={imgSrc} alt={imgAlt} width="100" />
  </div>

  <div class="service-content-box">
    <h4 class="h4 service-item-title">{serviceTitle}</h4>

    <p
      class="service-item-text font-helvetica font-medium max-md:text-[12px] text-[14px]"
    >
      {serviceDesc}
    </p>
  </div>
</li>
