---
const { href, referenceName, contactType, iconName } = Astro.props;
---

<li class="contact-item">
  <div class="icon-box">
    <ion-icon name={iconName}></ion-icon>
  </div>

  <div class="contact-info">
    <p class="font-semibold font-helvetica contact-title">{contactType}</p>

    <a href={href} class="contact-link" target="_blank">{referenceName}</a>
  </div>
</li>
