---
const { name, timeline, desc } = Astro.props;
---

<li class="timeline-item">
  <h4 class="font-semibold h4 timeline-item-title">{name}</h4>

  <span>{timeline}</span>

  <p class="font-normal timeline-text font-helvetica">
    {desc}
  </p>
</li>
