---
const { name, email, phone, birth, title } = Astro.props;
import ContactList from "./ContactList.astro";
import SocialList from "./SocialList.astro";
import "animate.css";
---

<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="/profile-1.png" alt="Angga Widiarta" width="80" />
    </figure>
    <div class="round-avatar">
      <img
        class="p-1 rounded-full w-36 h-36 ring-2 ring-gray-300 dark:ring-[#fdca65]"
        src="/angga.png"
        alt="Bordered avatar"
      />
    </div>

    <div class="info-content">
      <h1
        class="mb-[10px] tracking-wide font-fjalla name tracking-in-expand text-[#3500D3] shadow-[0px_0px_25px_0px_#1a0061]"
        title="Angga Widiarta"
      >
        {name}
      </h1>

      <p class="text-[11px] font-medium font-helvetica title">{title}</p>
    </div>

    <button class="info_more-btn font-helvetica" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <ContactList
        iconName="mail-outline"
        contactType="Email"
        referenceName="anggawidiarta55@gmail.com"
        href="mailto:anggawidiarta55@gmail.com"
      />

      <ContactList
        iconName="call-outline"
        contactType="Phone"
        referenceName="+6287765304309"
        href="https://wa.me/087765304309"
      />

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="font-semibold contact-title font-helvetica">Location</p>

          <address>West Nusa Tenggara, Indonesia</address>
        </div>
      </li>
      <!-- <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Birthday</p>

          <time datetime="1982-06-23">April 18, 2000</time>
        </div>
      </li> -->
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      <SocialList
        hrefSocial="https://www.facebook.com/AnggaWidiarta18"
        socialLogo="logo-facebook"
      />
      <!-- <SocialList hrefSocial="#" socialLogo="logo-twitter" /> -->
      <SocialList
        hrefSocial="https://www.instagram.com/anggawdyrta/"
        socialLogo="logo-instagram"
      />
      <SocialList
        hrefSocial="https://www.linkedin.com/in/anggawidiarta/"
        socialLogo="logo-linkedin"
      />
      <!-- <SocialList
        hrefSocial="#"
        socialLogo="document-outline"
      /> -->
    </ul>
  </div>
</aside>
